/* 
This file contains global custom CSS for the Donor Managemant Portal
*/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height:100%;
  width:100%;

}

.app {
  background-image: url("../images/bookshelf1.jpg");
  min-height: 100vh;

}
