/* 
This file contains styles for the Button component
 */

/* All buttons */
.button {
  border:1px solid transparent;
  border-radius: 5px;
  font-family: "Helvetica", sans-serif;
}

.button:hover {
  border: 1px solid white;
  cursor: pointer;
  font-weight: bold;
}

/* Button sizes */

.large-button {
}

.medium-button {
}

.small-button {
  height: 40px;
  width: 80px;
}

/* Button colors */

.blue-button {
  background-color: #03a9f4;
  color: white;
}

.red-button {
}

.green-button {
}

.yellow-button {
}

.dark-button {
}
