/* 
This file contains styles for the Button component
 */

/* All buttons */
.button {
  border: 1px solid transparent;
  font-family: "Helvetica", sans-serif;
}

.button:hover {
  cursor: pointer;
  font-weight: bold;
}

/* Button sizes */

.large-button {
}

.medium-button {
  height: 40px;
  width: 80px;
}

.small-button {
}

/* Button colors */

.blue-button {
  background-color: #03a9f4;
  color: white;
}

.blue-button:hover {
  background-color: #0288d1;
}

.red-button {
}

.green-button {
}

.yellow-button {
}

.dark-button {
  background-color: #2c2c2c;
  color: white;
}



/* Size adjustments for mobile */

@media only screen and (max-width: 767px){
  .medium-button {
    height: 30px;
    width: 60px;
  }

}