/* 
This file contains custom CSS for the header component.
*/

.header {
  padding-top: 9px;
  padding-bottom: 9px;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  max-width: 1400px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 95%;
}

.header-branding {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.logo-container {
  margin-right: 20px;

  height: 100%;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;

}

.header-title {
  color: white;
  font-size: clamp(16px, 2vw, 50px);
  margin:0px;
}

/* Mobile adjustments for super skinny viewport - Galaxy Fold */
@media only screen and (max-width: 767px) {
  .header-branding {
    width: 100%;
  }

  .header-title {
    margin:8px auto;
    text-align: center;
    width: 100%;
    
  }

  .auth-button-container {
    text-align: center;
    width: 100%;
  }
}
