/* 
This file contains custom CSS for the header component.
*/

.header {
  background-color: #FF9800;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header-branding {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.logo-container {
  background-color: white;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 50%;

  margin-right: 20px;

  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 35px;
}

.header-title {
  color: white;
  /* font-size: calc(12px + 1vw); */

  font-weight: normal;

  font-size: clamp(16px, 2vw, 50px);
}

.header-title-secondary {
  color:#2c2c2c;
  font-weight:300;
}
