/* 
This file contains custom CSS for the header component.
*/

.header {
  background-color: rgb(250, 104, 0);
  height: 60px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding-left:10px;
  padding-right: 10px;
}

.logo {
  background-color: white;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 50%;
  color: rgb(44, 44, 44);
  margin-right: 10px;
  padding: 5px;
}

.header-title {
  color: white;
  /* font-size: 30px; */
  /* font-size:2vw; */
  font-size:calc(12px + 1vw);
  font-weight: normal;
}
