/* 
This file contains styles for the introductory home page featuring 
a splash image and quote about reading.
*/

.home {
  background-image:url('../images/child-reading.jpg') ;
  height: 100vh;
}

.quote-text {
   color: white;
}
