/* Custom styles for CreateDonor and EditDonor */

.create-donor,
.edit-donor {
  /* background-image: url("../images/bookshelf1.jpg");
  background-size: cover;
  background-repeat: repeat; */
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-content: center;

  width: 100%;
}

.create-donor-wrapper,
.edit-donor-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.create-donor-container,
.edit-donor-container {
  margin: 50px auto 75px;
  width: 50%;
}

.create-donor-heading,
.edit-donor-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 15px 0;
}

.edit-donor-delete-button {
  margin-left: 15px;
}

.form {
  background-color: rgb(255, 255, 255, 0.6);
  border: 1px solid rgb(255, 255, 255, 0.2);
  box-shadow: 0px 5px 20px 0px rgba(44, 44, 44, 0.9);
  padding: 25px;
}

@media only screen and (max-width: 767px) {
  .create-donor-container,
  .edit-donor-container {
    width: 90%;
  }
  .create-donor-title,
  .edit-donor-title {
    width: 100%;
  }
}
