/* Custom styles for CreateDonor and EditDonor */

.create-donor,
.edit-donor {
  display: flex;
  justify-content: center;
  align-content: center;

  min-height: 100vh;
  width: 100%;
}

.create-donor-wrapper,
.edit-donor-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;

  width: 100%;
}

.create-donor-container,
.edit-donor-container {
  margin: 50px auto 75px;
  max-width: 1000px;
  width: 50%;
}

.create-donor-heading,
.edit-donor-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  margin: 15px 0;
}

.form {
  padding: 25px;
}
/* Mobile adjustments */
@media only screen and (max-width: 767px) {
  .create-donor-container,
  .edit-donor-container {
    margin: 30px auto 50px;
    width: 90%;
  }

  .create-donor-heading,
  .edit-donor-heading {
    justify-content: center;
  }

  .create-donor-title,
  .edit-donor-title {
    text-align: center;
    width: 100%;
  }
}
