/* 
This file contains the styles for the donor-list view.
 */


 /* use for top of each vieow */
.donor-list {
  background-color:rgb(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height:100vh;


  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width:100%;
}

.donor-list-container {

  /* background-color: white;  */
  /* transparent */
  width: 90%;


}

.donor-list-title {

}

.donor-list-global-actions {

}

.donor-search {

}

.donor-list-content {
  border: 1px solid #2c2c2c;
}

.donor-list-headings {
  background-color: #2c2c2c;

}

.donor-list-heading-item {
  color: white;
  /* font-size:24px; */

}

.donor-list-item {

}

.donor-list-name,
.donor-list-email-container,
.donor-list-phone,
.donor-list-actions {

}

.donor-list-name,
.donor-list-phone {
  color: #2c2c2c;
}

.donor-list-email-container,
.donor-list-phone,
.donor-list-name {
 
}

.donor-list-email {
  color: #009688;
  text-decoration: none;
}
.donor-list-email:hover {
  color: #ff9800;
  cursor: pointer;
}

.donor-list-action-buttons {

}

.grey {
  background-color: rgb(43, 43, 43, 0.1);
}

/* Tablet Adjustments */

@media only screen and (max-width: 1024px) {

}

/* Small tablet adjustments */
@media only screen and (max-width: 768px) {

}

/* Mobile adjustments */

@media only screen and (max-width: 767px) {


  

}

@media only screen and (max-width: 280px) {




}
