/* Custom styles for DonorDetails component */

.donor-details {
  /* background-image: url("../images/bookshelf1.jpg");
  background-size: contain;
  background-repeat: repeat; */

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-content: center;

  width: 100%;
}

.donor-details-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.donor-details-container {
  margin: 50px auto;
  width: 66%;
}

.donor-details-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 15px 0;
}

.donor-details-edit-btn {
  margin: 0 15px;
}

.donor-details-contents {
  background-color: rgb(255, 255, 255, 0.5);
  border: 1px solid rgb(255, 255, 255, 0.2);
  box-shadow: 0px 5px 20px 0px rgba(44, 44, 44, 0.9);
  padding: 25px;
}

.donor-detail-donation-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row wrap;
}

.donor-details-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}

/* .donor-history-table {
  border:1px solid rgb(255, 255, 255, 0.5);
} */

/* hr {
  border-top: 1px solid red;
} */

@media only screen and (max-width: 767px){
   .donor-details-container{
      width:95%;
   }
   .contact-block-left, .contact-block-center, .contact-block-right {
      width:100%;
   }
   .donor-details-section-heading{
      width:100%;
   }
}