/* 
This file contains styles for the introductory home page featuring 
a splash image and quote about reading.
*/

.home {
  display:flex;
  justify-content:center;


  background-image: url("../images/child-reading.jpg");
  background-size: cover;
  height:100vh;
  position:relative;
  width:100%;
}

.quote-container {
  background-color: rgba(255,255,255, 0.5);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  line-height: 1.5;
  margin:auto;
  padding: 25px;
  position: fixed;
  left:50px;
  top: 40%;
}

.quote {

  font-size: clamp(12px, 2vw, 50px);
  font-weight: 100;
}

.quote-attribution {

  font-size: clamp(10px, 1.5vw, 40px);
  margin-top: 20px;
}


/*  Mobile adjustments */
@media only screen and (max-width: 767px) {
  .quote-container {
    width:95%;
  }
}
