/* 
This file contains styles for the introductory home page featuring 
a splash image and quote about reading.
*/

.home {
  background-image: url("../images/bookshelf1.jpg");
  background-size: cover;
  height:100vh;
  display:flex;
  justify-content:center;
  position:relative;
  width:100%;
}

.quote-container {
  background-color: rgba(255,255,255, 0.6);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  border: 1px solid rgb(255, 255, 255, 0.2) ;
  box-shadow: 5px 8px 32px 5px rgba( 44,44,44, 0.9 );
  /* align-self: center; */
  margin:auto;
  line-height: 1.5;
  padding: 25px;
  position: fixed;
  top: 40%;
  /* margin-left: 5%; */
  /* width: auto; */
}

.quote {
  /* color: white; */
  font-size: clamp(12px, 2.5vw, 50px);
  font-weight: 100;
}

.quotation-mark {
  /* color: #1a1a1a; */
}

.quote-attribution {
  font-size: clamp(10px, 1.5vw, 40px);
  margin-top: 20px;
}

/* Tablet adjustments for Home view */
/* @media only screen and (max-width: 1024px) {
  .home {
    background-position: center;
    justify-content: center;
    align-content: center;
  }

  .quote-container {
    align-self: flex-end;
    margin: 0 auto 15%;
  }

  .quote {
    text-align: justify;
  }
} */

/* Tablet adjustments for landscape view */
/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .quote-container {
    align-self: flex-end;
    margin: 0 auto 8%;
  } */
/* } */

/*  Mobile adjustments for Home view */
@media only screen and (max-width: 767px) {
  .quote-container {
    width:95%;
  }
}
